extends layout

block content
  h3.room-title= title
  #port-box

  .mdl-grid
    form#move_form.mdl-cell.mdl-cell--3-col(action="")
      input#move_room(placeholder="部屋移動")
      button.mdl-button.mdl-js-button.mdl-button--fa.mdl-button--colored
        i.material-icons directions_run
    form#image_form.mdl-cell.mdl-cell--5-col(action="")
      input#input_image(type="file", name="images")
      button.mdl-button.mdl-js-button.mdl-button--fa.mdl-button--colored
        i.material-icons image

  form#message_form.mdl-grid(action="")
    input#name.mdl-cell.mdl-cell--3-col(placeholder="匿名")
    input#message.mdl-cell.mdl-cell--8-col(placeholder="コメント")
    button.mdl-cell.mdl-cell--1-col.mdl-button.mdl-js-button.mdl-button--fa.mdl-button--colored
      i.material-icons near_me

  ul#messages
    each message in messages
      li
        p= message.createdAt + " / " + message.user_id + " / " + message.user_name + " / " + (message.message || "")
        if message.image_path
          img(src="/upload/"+message.image_path)
  script(src='/javascripts/index.js')



