extends layout

block content
  h1.room-title= title
  #port-box
  form#message_form(action='')
    input#message(autocomplete='off')
    button Send
  ul#messages
  script(src='javascripts/index.js')



