extends layout

block content
  h1= room
  #roomList
  #port-box
  ul#messages
  form#message_form(action='')
    input#m(autocomplete='off')
    button Send
  script(src='/socket.io/socket.io.js')
  script(src='javascripts/jquery-3.0.0.min.js')
  script.
    var socket = io();
    var roomId = "test";
    socket.emit('init');
    $('#message_form').submit(function () {
      socket.emit('chat message', $("h1").text(), $('#m').val());
      $('#m').val('');
      // console.log(sockets.manager.rooms);
      return false;
    });

    socket.on("roomList", function(roomList){
      $("#roomList").text("");
        if(roomList){
          for(var j in roomList){
            console.log(j + "、" + roomList[j] + "人います");
            var roomLcount = roomList[j];
            var roomName = j;
            $("#roomList").append("<span>" + roomName + "</span>");
          }
      }
    });
    socket.on("room in", function(res){
      $("h1").text(res.name);
    });
    socket.on("port", function(res){
      $("#port-box").text(res.value + "人がオンライン");
    });

    socket.on('chat message', function (msg) {
      console.log(msg + "##########");
      $('#messages').append($('<li>').text(msg));
    });



